<% if @collection.name =~ /(favorite|queue)/ %>
	Cannot edit collection for favorites and queues.
<% else %>
	<%= simple_form_for(@collection) do |f| %>
	  <%= f.error_notification %>

	  <div class="inputs">
	    <%= f.input :name %>
	    <%= f.input :description %>
		<!--> Add to Projects <-->
		<!--> Add Collections via autocomplete? <-->
		<input class="integer" id="collection_user_id" name="collection[user_id]" type="hidden" value="<%= current_user.id %>" />
	</div>

	  <div class="actions">
	    <%= f.button :submit %>
	  </div>
	<% end %>
<% end %>