<div class="grid_2 prefix_14" ><%= link_to "New Collection", new_collection_path %></div>
<% if @collections %>
	<div class="grid_16 alpha" style="font-size: 20pt; color: white; text-decoration: none;">Collections for <%= current_user.name %></div>
	<% @collections.each do |collection| %>
		<div class="grid_16 alpha collection_container">
			<% if collection.name =~ /(project|user)_[0-9]+_(favorites|queue)/i %>
			<% name =  collection.name.split('_') %>
			<% link = name[2].humanize + " for " + name[0].humanize + ": " + name[0].singularize.camelize.constantize.find(name[1].to_i).name %>
			<% else %>
			<% link = collection.name %>
			<% end %>
			<p class="grid_16" style="margin-top: 20px;"><%= link_to link, collection, :style => "font-size: 14pt; color: gold; text-decoration: none;" %></p>
				<div class="grid_16"><%= collection.description %></div>
			
			<% if !collection.intervals.blank?%>
			<% YAML.load(collection.interval_priorities).keys.sort!{|a,b| a.to_i <=> b.to_i}.each do |priority| %><% interval = Interval.find(YAML.load(collection.interval_priorities)[priority.to_s]) %>
				<div class="grid_16 omega" style="border: 1px; border-style: solid; border-color:silver;">
					
					<div class="grid_3">
						<div style="height: 30px;">Position: <%= priority %><br />Interval: <%= interval.id%></div>
					</div>
					
					<div class="grid_3">Session <%= interval.session_number.to_s %></div>
					<div class="grid_3">Camera Angle: <%= interval.camera_angle %></div>
					<div class="grid_3">Session Type: <%= interval.session_type %></div>
					<div class="grid_3">Session Time: <%= interval.start_time.strftime("%Y-%m-%d %H:%M") %><br />Duration: <%= interval.duration_string %></div>
					
				</div>
			<% end %>
			<% end %>
		</div>
	<% end %>
<% else %>
	You have no collections!
<% end %>
