<% if @collection %>
	<div class="grid_2 prefix_14" ><%= link_to "Edit Collection", edit_collection_path %></div>
	<div class="collection_container grid_16 alpha" id = "<%= @collection.id %>">
	<% if request.url =~ /(favorite|queue)/i %>
	<% name =  @collection.name.split('_') %>
	<div class="grid_16 collections_title"><%= name[2].humanize + " for " + name[0].humanize + ": " +  name[0].singularize.camelize.constantize.find(name[1].to_i).name %></div>
	<% else %>
	<div class="grid_16 collections_title"><%= @collection.name %></div>
	<% end %>
	<div class="grid_16"><%= @collection.description %></div>
	<% if !@collection.intervals.blank? %>
	<ul class="grid_16 sortable_collection omega">
	
		<% YAML.load(@collection.interval_priorities).keys.sort!{|a,b| a.to_i <=> b.to_i}.each do |priority| %><% interval = Interval.find(YAML.load(@collection.interval_priorities)[priority.to_s]) %>
		
		<li id="<%= interval.id %>" class="ui-state-default interval_row">
			<div class="grid_1 collection_sortable">
				<%= link_to "∧", prioritize_interval_path(:id => @collection.id, :interval => interval.id, :direction => 'up'), :class => "priority_link", :direction => "up", :id => interval.id %><br />--<br /><%= link_to "∨", prioritize_interval_path(:id => @collection.id, :interval => interval.id, :direction => 'down'), :class => "priority_link", :direction => "down" %>
			</div>
			<div class="grid_2 collection_box_name"><div class="content">Session <br /><span><%= interval.session_number.to_s %></span></div></div>
			<div class="grid_3 collection_thumbnail"><img src ="<%=interval_path(:id => interval.id, :format => :jpg) %>" width ="160" height ="90" /></div>
			<div class="grid_2 collection_box"><div class="content">Camera Angle: <br /><span><%= interval.camera_angle %></span></div></div>
			<div class="grid_2 collection_box"><div class="content">Session Type: <br /><span><%= interval.session_type %></span></div></div>
			<div class="grid_2 collection_box_date"><div class="content">
				<span><%= interval.start_time.strftime("%A") %>
				<%= interval.start_time.strftime("%b") %>
				<%= interval.start_time.strftime("%d") %>,
				<%= interval.start_time.strftime("%Y") %>
				</span><br />
				<%= interval.start_time.strftime("%I")%> :
				<%= interval.start_time.strftime("%M")%> 
				<%= interval.start_time.strftime("%p")%>
			</div></div>
			<div class="grid_2 collection_box"><div class="content">Duration:<br /> <span><%= interval.duration_string %></span></div></div>
			<div class="grid_1"><div class="collection_controls">[<%= link_to "X", remove_from_collection_path(:interval => interval.id), :id => interval.id, :class => "remove_from_collection", :style => "color: #CD1A70; text-decoration: none;" %>]</div><%= link_to raw("<div class=\"arrow-collect\"></div>"), interval %></div>
		</li>
		
	<% end %>
	</ul>
	<% end %>
<% else %>
	<div class="collection_container grid_16 alpha" id="unknown">
	<% if request.url =~ /(favorite|queue)/i %>
	<% name =  @name.split('_') %>
	<div class="grid_16 collections_title"><%= name[2].humanize + " for " + name[0].humanize + ": " + name[0].singularize.camelize.constantize.find(name[1].to_i).name %></div>
	<% else %>
	<div class="grid_16 collections_title">Unknown Collection</div>
	<% end %>
	<div class="grid_16">
		This collection does not have any videos presently.<br />
		You can add videos from any interval viewing page.
	</div>
<% end %>
</div>