<%= simple_form_for(@interval) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :filename %>
    <%= f.input :camera_angle %>
    <%= f.input :session_number %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :session_type %>
    <%= f.input :phrase_name %>
    <%= f.input :phrase_type %>
    <%= f.input :task_name %>
    <%= f.input :comments %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
