<div class="search_box">
<form action="/intervals" method="get">
<input type="search" results=3 placeholder="Search..." name="search" value="<%= params[:search] %>">
<noscript><input type="submit" id="global_search_submit" value="Submit" /></noscript>
<%= hidden_field_tag :camera_angle,params[:camera_angle] %>
<%= hidden_field_tag :session_type,params[:session_type] %>
<%= hidden_field_tag :phrase_type, params[:phrase_type] %>
<%= hidden_field_tag :phrase_name, params[:phrase_name] %>
</form>
</div>
