<div id="filters" class="grid_16">
	<form>
		<h2>Filters</h2>
		<fieldset>
			<legend>Date</legend>
			<select name="date">
				<option value=""></option>
				<% @days.each do |d| %>
					<option value="<%= d %>" <%= params[:date] == d ? "selected='selected'" : "" %>><%= d %></option>
				<% end %>
			</select>
		</fieldset>
		<div>
			<legend>Camera Angle</legend>
			<%= select_tag(:camera_angle, options_for_select(@camera_angles, :selected =>params[:camera_angle]), :include_blank =>true)%>
			<legend>Session Type</legend>
			<%= select_tag(:session_type, options_for_select(@session_types, :selected =>params[:session_type]), :include_blank =>true)%>
			<legend>Phrase Type</legend>
			<%= select_tag(:phrase_type, options_for_select(@phrase_types, :selected =>params[:phrase_type]), :include_blank =>true)%>
			<legend>Phrase Name</legend>
			<%= select_tag(:phrase_name, options_for_select(@phrase_names, :selected =>params[:phrase_name]), :include_blank =>true)%>
		</div>
		<input type="submit" value="Submit" />
	</form>
</div>

<p class="grid_16">There are <span id="resultcount"><%= @intervals.size %></span> results.</p>

<div class="clear"></div>
<div id="session-search" class ="grid_7" >
	<select id="sort-dropdown">
		<label for = "sort" id="sort-dropdown">
		<option value= "sort-by">Sort By</option>
		<option value = "date">Date</option>
		<option value = "relevance">Relevance</option>
		<option value = "most viewed">Most Viewed</option>
		<option value = "most tagged">Tagged</option>
	</select>
</div>

<div class="clear"></div>

<div id="view" class="grid_14">
	<form id="view">
		<input type="radio" name="view-list"/> List
		<input type="radio" name="view-thumbnail"/> Thumbnail
		<input type="radio" name="view-timeline" /> Timeline
	</form>
</div>

<div class="clear"></div>

<div class="grid_16 display_results">
     <% @intervals.each do |interval| %>
     <ol class="browse_cont">
<li class="grid_2 browse_box_name"><%= link_to raw("Session <span>")+interval.id.to_s()+raw("</span>"), interval %></span></li> 
      <li class="grid_3"><div style="width: 160px; height: 90px; background: #ccc;">&nbsp;</div></li> 
      <li class="grid_2 browse_box">Camera Angle <span><%= interval.camera_angle %></span></li> 
      <li class="grid_2 browse_box">Session Type <span><%= interval.session_type  %></li> 
      <li class="grid_2 browse_box_date">
		<%= interval.start_time.strftime("%A") %>
		<span><b>
		<%= interval.start_time.strftime("%b") %> 
		<%= interval.start_time.strftime("%d") %>,</b>
		<%= interval.start_time.strftime("%Y") %>
		</span>
		<%= interval.start_time.strftime("%I")%> :
		<%= interval.start_time.strftime("%M")%> 
		<%= interval.start_time.strftime("%p")%>
	</li> 
      <li class="grid_3">
	 <ul class="browse_box_ul">
	   <li>Phrase: <%= interval.phrase_name  %></li>
	   <li>...</li>
	   <li>...</li>
	   <li class="alt"><%= link_to "Show more information", interval %></li>
	 </ul>
      </li> 
      <li class="grid_1"><%= link_to raw("<div class=\"arrow\"></div>"), interval %></li> 
      <br class="clear">
   </ol> 
     <% end %>
<div class="clear"></div>
		<% if @intervals.empty? %>
				<h1>There were no videos found with these filter options.</h1>
		<% end %>
</divx>
