<div id="filters" class="grid_16">

	<h2>Filters</h2>
	<form class="interval_filters">
		<p class="grid_2 suffix_1 alpha"><%= label_tag :date, "Date" %></br>
		<%= select_tag(:date, options_for_select(@days, :selected =>params[:date]), :include_blank =>true, :class =>"date_filter")%></p>
		<div class="grid_2 suffix_1 camera_angle_selector"><%= label_tag :camera_angle, "Camera Angle" %></br>
			<div class="fauxselect_button"><%= params[:camera_angle].blank? ? "Click to Select" : params[:camera_angle] %></div>
			<ul class="fauxselect">
				<li class="define_me" ><%= link_to "Any", intervals_path(add_params :camera_angle => nil) %></li>
				<% for angle in @camera_angles %>
					<li class="define_me" ><a href="<%= intervals_path(add_params :camera_angle => angle) %>">
						<%= image_for_camera_angle(angle).nil? ? angle : image_for_camera_angle(angle) %>
					</a></li>
				<% end %>
			</ul>
		</div>
		<div class="grid_2 suffix_1 session_type_selector"><%= label_tag :session_type, "Session Type" %></br>
			<div class="fauxselect_button"><%= params[:session_type].blank? ? "Click to Select" : params[:session_type] %></div>
			<ul class="fauxselect">
				<li class="define_me" ><%= link_to "Any", intervals_path(add_params :session_type => nil) %></li>
				<% for type in @session_types %>
					<li class="define_me"><%= link_to type, intervals_path(add_params :session_type => type) %></li>
				<% end %>
			</ul>
		</div>
		<div class="grid_2 suffix_1 phrase_type_selector"><%= label_tag :phrase_type, "Phrase Type" %></br>
			<div class="fauxselect_button"><%= params[:phrase_type].blank? ? "Click to Select" : params[:phrase_type] %></div>
			<ul class="fauxselect">
				<li class="define_me" ><%= link_to "Any", intervals_path(add_params :phrase_type => nil) %></li>
				<% for type in @phrase_types %>
					<li class="define_me" ><%= link_to type, intervals_path(add_params :phrase_type => type) %></li>
				<% end %>
			</ul>
		</div>
		<div class="grid_2 suffix_1 phrase_name_selector"><%= label_tag :phrase_name, "Phrase Name" %></br>
			<div class="fauxselect_button"><%= params[:phrase_name].blank? ? "Click to Select" : params[:phrase_name] %></div>
			<ul class="fauxselect">
				<li class="define_me" ><%= link_to "Any", intervals_path(add_params :phrase_name => nil) %></li>
				<% for name in @phrase_names %>
					<li class="define_me" ><%= link_to name, intervals_path(add_params :phrase_name => name) %></li>
				<% end %>
			</ul>
		</div>
		<%= hidden_field_tag :search, params[:search]%></br>
		<div class= "grid_2 omega filters_submit">
		<input type="submit" value="Update Filters"/>

		</div>
	</form>
</div>


<p class="grid_16 filter_results">There are <span id="resultcount"><%= @intervals.size %></span> results.</p>



<div class="grid_16 display_results">
     <% @intervals.each do |interval| %>
     <ol class="browse_cont">
<li class="grid_2 browse_box_name"><%= link_to raw("Session <span>")+interval.id.to_s()+raw("</span>"), interval %></span></li> 
      <li class="grid_3"><div style="width: 160px; height: 90px; background: #ccc;">&nbsp;</div></li> 
      <li class="grid_2 browse_box">Camera Angle <span><%= interval.camera_angle %></span></li> 
      <li class="grid_2 browse_box">Session Type <span class="define_me"><%= interval.session_type  %></span></li> 
      <li class="grid_2 browse_box_date">
		<%= interval.start_time.strftime("%A") %>
		<span><b>
		<%= interval.start_time.strftime("%b") %> 
		<%= interval.start_time.strftime("%d") %>,</b>
		<%= interval.start_time.strftime("%Y") %>
		</span>
		<%= interval.start_time.strftime("%I")%> :
		<%= interval.start_time.strftime("%M")%> 
		<%= interval.start_time.strftime("%p")%>
	</li> 
      <li class="grid_3">
	 <ul class="browse_box_ul">
	   <li>Phrase: <%= interval.phrase_name  %></li>
	   <li>...</li>
	   <li>...</li>
	   <li class="alt"><%= link_to "Show more information", interval %></li>
	 </ul>
      </li> 
      <li class="grid_1"><%= link_to raw("<div class=\"arrow\"></div>"), interval %></li> 
      <br class="clear">
   </ol> 
     <% end %>
<div class="clear"></div>
		<% if @intervals.empty? %>
				<h1>There were no videos found with these filter options.</h1>
		<% end %>
</divx>
