<div id="intervals">
	<h1>Browse Videos</h1>
	<div id="filters">
		<form>
			<fieldset>
				<legend>Filters</legend>
				<fieldset>
					<legend>Date</legend>
					<select name="date">
						<option value=""></option>
						<% @days.each do |d| %>
							<option value="<%= d %>" <%= params[:date] == d ? "selected='selected'" : "" %>><%= d %></option>
						<% end %>
					</select>
				</fieldset>
				<fieldset>
					<legend>Camera Angle</legend>
					<ul>
						<li>
							<label>
								<input type="radio" name="camera_angle" value="" <%= params[:camera_angle].nil? || params[:camera_angle] == "" ? "checked='checked'" : "" %>/>Any
							</label>
						</li>
						<% @angles.each do |a| %>
							<li>
								<label>
									<input type="radio" name="camera_angle" value="<%= a %>" <%= params[:camera_angle] == a ? "checked='checked'" : "" %>/><%= a %>
								</label>
							</li>
						<% end %>
					</ul>
				</fieldset>
				<input type="submit" value="Submit" />
			</fieldset>
		</form>
	</div>

	<div class="results">
	   
	   <ol>
	     <% @filtered_intervals.each do |int| %>
   	     <li>
               <div class="thumbnail_wrapper grid_7">
                  <div class="thumbnail_screenshot">
                    	<%= link_to(image_tag("/images/dance_3.jpg"), int) %>
                  </div>
                  <div class="thumbnail_details">
                  	<h3><%= int.phrase_name %></h3>
                    <h4><%= link_to int.filename, int %></h4>
                    <ol>
                    	<li>Date: <%= int.start_time.strftime("%F") %></li>
                    	<li>Camera Angle: <%= int.camera_angle %></li>
                    	<li>Start Time (24 hr): <%= int.start_time.strftime("%T") %></li>
                    </ol>
                  </div>
                  <div class="thumbnail_tags">
                  	<ol>
                  		<p>tag0</p>
                		<p>tag1</p>
                		<p>tag2</p>
                		<p>tag3</p>
                		<p>tag4</p>
                		<p>tag5</p>
                		<p>tag6</p>
                		<p>tag7</p>
                		<p>tag8</p>
                		<p>tag9</p>
                		<p>tag10</p>
                	</ol>
                  </div>
               </div>
           </li>
	     <% end %>
	   </ol>
	   <br class="clear"/>
		<table id="listints">
			<thead>
				<tr>
					<th>Session Type</th>
					<th>Phrase Name</th>
					<th>Filename</th>
					<th>Camera Angle</th>
					<th>Start Time</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>
				<% @filtered_intervals.each do |int| %>
					<tr>
						<td><%= int.session_type %></td>
						<td><%= int.phrase_name %></td>
						<td><%= link_to int.filename, int %></td>
						<td><%= int.camera_angle %></td>
						<td><%= int.start_time %></td>
						<td><%= int.duration %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
