<div id="intervals" class="">
	<h1 class="grid_16">Browse Videos</h1>
	<div id="filters" class="grid_16">
		<form>
			<h2>Filters</h2>
			<fieldset>
				<legend>Date</legend>
				<select name="date">
					<option value=""></option>
					<% @days.each do |d| %>
						<option value="<%= d %>" <%= params[:date] == d ? "selected='selected'" : "" %>><%= d %></option>
					<% end %>
				</select>
			</fieldset>
			<fieldset>
				<legend>Camera Angle</legend>
				<ul>
					<li>
						<%= link_to "Any", intervals_path(add_params :camera_angle => "") %>
					</li>
					<% @angles.each do |a| %>
						<li>
							<%= link_to a.camera_angle, intervals_path(add_params :camera_angle => a.camera_angle) %>
						</li>
					<% end %>
				</ul>
				<input type="hidden" name="camera_angle" value="<%= params[:camera_angle] %>" />
			</fieldset>
			<fieldset>
				<legend>Search</legend>
				<input type="text" name="search" value="<%= params[:search] %>" />
			</fieldset>
			<input type="submit" value="Submit" />
		</form>
	</div>

	<p>There are <span id="resultcount"><%= @intervals.size %></span> results.</p>

	<div id="session-search" class ="grid_7" >
		<select id="sort-dropdown">
			<label for = "sort" id="sort-dropdown">
			<option value= "sort-by">Sort By</option>
			<option value = "date">Date</option>
			<option value = "relevance">Relevance</option>
			<option value = "most viewed">Most Viewed</option>
			<option value = "most tagged">Tagged</option>
		</select>
	</div>

	<div class="clear"></div>

	<div id="view" class="grid_14">
		<form id="view">
			<input type="radio" name="view-list"/> List
			<input type="radio" name="view-thumbnail"/> Thumbnail
			<input type="radio" name="view-timeline" /> Timeline
		</form>

	<div class="results">
	   
	   <ol>
	     <% @intervals.each do |int| %>
   	     <li>
               <div class="thumbnail_wrapper grid_7">
                  <div class="thumbnail_screenshot">
                    	<%= link_to(image_tag("/images/dance_3.jpg"), int) %>
                  </div>
                  <div class="thumbnail_details">
                  	<h3><%= int.phrase_name %></h3>
                    <h4><%= link_to int.filename, int %></h4>
                    <ol>
                    	<li>Date: <%= int.start_time.strftime("%F") %></li>
                    	<li>Camera Angle: <%= int.camera_angle %></li>
                    	<li>Start Time (24 hr): <%= int.start_time.strftime("%T") %></li>
                    </ol>
                  </div>
                  <div class="thumbnail_tags">
                  	<ol>
                  		<p>tag0</p>
                		<p>tag1</p>
                		<p>tag2</p>
                		<p>tag3</p>
                		<p>tag4</p>
                		<p>tag5</p>
                		<p>tag6</p>
                		<p>tag7</p>
                		<p>tag8</p>
                		<p>tag9</p>
                		<p>tag10</p>
                	</ol>
                  </div>
               </div>
           </li>
	     <% end %>
	   </ol>
	   <br class="clear"/>
		<table id="listints" class="grid_16">
			<thead>
				<tr>
					<th>Session Type</th>
					<th>Phrase Name</th>
					<th>Filename</th>
					<th>Camera Angle</th>
					<th>Start Time</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>
			<% @intervals.each do |int| %>
				<tr>
					<td><%= int.session_type %></td>
					<td><%= int.phrase_name %></td>
					<td><%= link_to int.filename, int %></td>
					<td><%= int.camera_angle %></td>
					<td><%= int.start_time_of_day %></td>
					<td><%= int.duration %></td>
				</tr>
			<% end %>
			<% if @intervals.size == 0 %>
				<tr>
					<td colspan="6">There were no videos found with these filter options.</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
