<div id="filters" class="grid_16">

	<h2>Filters</h2>
	<form class="interval_filters">
		<p class="grid_2 suffix_1 alpha"><%= label_tag :date, "Date" %></br>
		<%= select_tag(:date, options_for_select(@days, :selected =>params[:date]), :include_blank =>true, :class =>"date_filter")%></p>
		<p class="grid_2 suffix_1"><%= label_tag :camera_angle, "Camera Angle" %></br>
		<%= select_tag(:camera_angle, options_for_select(@camera_angles, :selected =>params[:camera_angle]), :include_blank =>true, :class =>"camera_angle")%></p>
		<div class="grid_2 suffix_1"><%= label_tag :session_type, "Session Type" %></br>
			<div class="fauxselect_button">Expand</div>
			<ul class="fauxselect">
				<% for type in @session_types %>
					<li class="define_me" ><%= link_to type, intervals_path(add_params :session_type => type) %></li>
				<% end %>
			</ul>
		</div>
		<p class="grid_2 suffix_1"><%= label_tag :phrase_type, "Phrase Type" %></br>
		<%= select_tag(:phrase_type, options_for_select(@phrase_types, :selected =>params[:phrase_type]), :include_blank =>true, :class =>"phrase_type")%></p>
		<p class="grid_2 "><%= label_tag :phrase_name, "Phrase Name" %></br>
		<%= select_tag(:phrase_name, options_for_select(@phrase_names, :selected =>params[:phrase_name]), :include_blank =>true, :class =>"phrase_name")%></p>
		<%= hidden_field_tag :search, params[:search]%></br>
		<div class= "grid_2 omega filters_submit">
		<input type="submit" value="Update Filters"/>

		</div>
	</form>
</div>


<p class="grid_16 filter_results">There are <span id="resultcount"><%= @intervals.size %></span> results.</p>



<div class="grid_16 display_results">
     <% @intervals.each do |interval| %>
     <ol class="browse_cont">
<li class="grid_2 browse_box_name"><%= link_to raw("Session <span>")+interval.id.to_s()+raw("</span>"), interval %></span></li> 
      <li class="grid_3"><div style="width: 160px; height: 90px; background: #ccc;">&nbsp;</div></li> 
      <li class="grid_2 browse_box">Camera Angle <span><%= interval.camera_angle %></span></li> 
      <li class="grid_2 browse_box">Session Type <span class="define_me"><%= interval.session_type  %></span></li> 
      <li class="grid_2 browse_box_date">
		<%= interval.start_time.strftime("%A") %>
		<span><b>
		<%= interval.start_time.strftime("%b") %> 
		<%= interval.start_time.strftime("%d") %>,</b>
		<%= interval.start_time.strftime("%Y") %>
		</span>
		<%= interval.start_time.strftime("%I")%> :
		<%= interval.start_time.strftime("%M")%> 
		<%= interval.start_time.strftime("%p")%>
	</li> 
      <li class="grid_3">
	 <ul class="browse_box_ul">
	   <li>Phrase: <%= interval.phrase_name  %></li>
	   <li>...</li>
	   <li>...</li>
	   <li class="alt"><%= link_to "Show more information", interval %></li>
	 </ul>
      </li> 
      <li class="grid_1"><%= link_to raw("<div class=\"arrow\"></div>"), interval %></li> 
      <br class="clear">
   </ol> 
     <% end %>
<div class="clear"></div>
		<% if @intervals.empty? %>
				<h1>There were no videos found with these filter options.</h1>
		<% end %>
</divx>
