<div id="intervals">
	<h1>Browse Videos</h1>
	<div id="filters">
		<form>
			<h2>Filters</h2>
			<fieldset>
				<legend>Date</legend>
				<select name="date">
					<option value=""></option>
					<% @days.each do |d| %>
						<option value="<%= d %>" <%= params[:date] == d ? "selected='selected'" : "" %>><%= d %></option>
					<% end %>
				</select>
			</fieldset>
			<fieldset>
				<legend>Camera Angle</legend>
				<ul>
					<li>
						<label>
							<input type="radio" name="camera_angle" value="" <%= params[:camera_angle].nil? || params[:camera_angle] == "" ? "checked='checked'" : "" %>/>Any
						</label>
					</li>
					<% @angles.each do |a| %>
						<li class="filtercontrol cameraangle_<%= a.gsub(" ", "") %>">
							<label>
								<input type="radio" name="camera_angle" value="<%= a %>" <%= params[:camera_angle] == a ? "checked='checked'" : "" %>/><%= a %>
							</label>
						</li>
					<% end %>
				</ul>
			</fieldset>
			<input type="submit" value="Submit" />
		</form>
	</div>

	<table id="results">
		<thead>
			<tr>
				<th>Session Type</th>
				<th>Phrase Name</th>
				<th>Filename</th>
				<th>Camera Angle</th>
				<th>Start Time</th>
				<th>Duration</th>
			</tr>
		</thead>
		<tbody>
			<% last_day = "" %>
			<% @filtered_intervals.each do |int| %>
				<% if last_day != int.day %>
					<tr>
						<th colspan="6"><%= int.day %></th>
					</tr>
					<% last_day = int.day %>
				<% end %>
				<tr class="interval cameraangle_<%= int.camera_angle.gsub(" ", "") %>">
					<td><%= int.session_type %></td>
					<td><%= int.phrase_name %></td>
					<td><%= link_to int.filename, int %></td>
					<td><%= int.camera_angle %></td>
					<td><%= int.start_time_of_day %></td>
					<td><%= int.duration %></td>
				</tr>
			<% end %>
			<% if @filtered_intervals.size == 0 %>
				<tr>
					<td colspan="6">There were no videos found with these filter options.</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
$(document).ready(function(){
	// Highlight the relevant camera angle filter control when you mouse over a row.
	$("tr.interval").live('mouseover mouseout', function(event){
		var class = $.grep($(this).attr("class").split(" "), function(e, i){
			return(e.substr(0, 12) == "cameraangle_");
		});
		if(event.type == "mouseover"){
			$(".filtercontrol."+class).addClass("highlighted");
		}else{
			$(".filtercontrol."+class).removeClass("highlighted");
		}
	});
});
</script>
