<div class="interval_show">

	<div class="grid_1 Edit">
		<%= link_to 'Edit', edit_interval_path(@interval) %> 
	</div>
	<div class="grid_15">
		<%= link_to 'Back', intervals_path %>
	</div>
	<div class="clear"></div>


	<div class="grid_5" id="sessTypePhrase">
		<div>
			<h1><%= @interval.session_type %></h1> <!--Session Type-->
			<strong>Phrase: <%= @interval.phrase_name %></strong> <br/>
			<strong>Type: <%= @interval.phrase_type %></strong>
		</div>
	</div>
	
	<%= simple_form_for @interval do |f| %>
	<div class="grid_5" id="camera_angle_map">
		<div class="cam_angle">
			<strong>Camera Angle: </strong>
			<%= f.input :camera_angle,  :collection => %w(daily2 mirror daily1 rear2 Wayne rear1), :as => :radio, :label => false %>
		</div>
	</div>
	
	<div class="grid_6 tag_box">
		<div class="phenomena">
			<p>Phenomena:</p>
			<div class="tagger" id="tag_checkboxes">
				<%= f.association :tags, :as => :check_boxes, :label => false %>
				<%= f.button :submit %>
			</div>
		</div>
	</div>
<br style="clear:both"/>

	<% end %>

	<div class="clear"></div>

	<div class="grid_16" id="video">
		<div>
		<p><%= video_tag @interval.filename, :controls => true %></p>
		</div>
	</div>
	<div class="clear"></div>


	<div class="grid_5" id="startTime">
		<h4>Start: <%= @interval.start_time.strftime("%T") %></h4>
	</div>
	<div class="grid_5" id="endTime">
		<h4>End: <%= @interval.end_time.strftime("%T") %></h4>
	</div>
	<div class="grid_6" id="duration">
		<h4>Duration: <%= (@interval.end_time - @interval.start_time.to_time.to_i).strftime("%T") %></h4>
	</div>
	<div class="clear"></div>


	<div class="grid_5" id="sessionNum">
		<h4>Session <%= @interval.session_number %></h4>
	</div>
	<div class="grid_5" id="date">
		<h4><%= @interval.start_time.strftime("%F") %></h4> <!-- Date-->
	</div>
	<div class="grid_6" id="filename">
		<h4><%= @interval.filename %></h4> <!--filename-->
	</div>
	<div class="clear"></div>
	
	

</div>

