%div.grid_5.show_video_header
  %h1 Far ID
  %h2="Session #{@interval.session_number} : #{@interval.session_type}" 

%div.grid_1.show_camera_angle
  %div= @interval.camera_angle

%div.grid_5#collections_container
  = render :partial => "collections"


%div.grid_5#adding_shit_to_videos
  = render :partial => "adding_to_videos"
  
%div.clear


%div.grid_11#video_container
  = video_tag interval_path(@interval.id, :format => :m4v), :controls => true, :height => 360, :width => 640

%div.clear


%div#snippets_container.grid_11
  = render :partial => "snippets"

%div.grid_5.meta_info_container
  This is going to be the meta data

