<head>
	<script type="text/javascript">
		$(document).ready(function(){  //
			$(".show_tags_add_button").click(function(){  //"what you click"
				$(".show_tags_add").slideToggle("slow"); //"what you want to show after the click"
				$(".show_tags_selected").remove(); //"replace this"
			});
		});

		$(document).ready(function(){
			$(".tags_go_new_button").click(function(){
				$(".tags_add_new").slideToggle("slow");
				$(".show_tags_add").remove();
			});
		});
		
		$(document).ready(function(){  //show more info
			$(".show_moreinfo_button").click(function(){
				$(".show_more_data").slideToggle("slow");
			});
		});
		
		$(document).ready(function(){  //click on add for phenomena
			$(".show_add_phen_button").click(function(){
				$(".show_add_phen_list").slideToggle("slow");
				$(".show_applied_phen").remove();
				$(".show_codingterms_people").remove();
				$(".show_applied_people").remove();
			});
		});
		
		$(document).ready(function(){  //click on add for people
			$(".show_add_people_button").click(function(){
				$(".show_add_people_list").slideToggle("slow");
				$(".show_applied_phen").remove();
				$(".show_codingterms_phen").remove();
				$(".show_applied_people").remove();
			});
		});
		
		$(document).ready(function(){  //click on add for tags
			$(".show_add_tags_button").click(function(){
				$(".show_tags_create").slideToggle("slow");
				$(".show_applied_tags").remove();
			});
		});
	
	</script>
</head>



<div class="interval_show">

<!-- row 1 -->

	 <%= simple_form_for @interval do |f| %>
	 <div class="grid_6 show_video_header">
		<h1>FAR #?</h1>
		<h2>Session <%= @interval.session_number %> : <%= @interval.session_type %></h2>
	</div>
	
	<div class="grid_5 show_addto_widget">
		<p>Michael's "add to" widget</p>
<!--INSERT APPLIED ADD TO WIDGET-->
	</div>
	
	<div class="grid_5 show_camera_angle">
		<%= image_for_camera_angle @interval.camera_angle %>
	</div>

	<div class="clear"></div>

<!-- row 2 -->

	<div class="grid_11 show_video_player">
		<p><%= video_tag @interval.filename, :controls => true, :height => 360, :width => 640 %></p>
	</div>
	
	
	<div class="grid_5 show_metadata">
	
		<div class="show_more_info">
			<h2>Video Data</h2>
			<h3 class="show_moreinfo_button">+</h3>
		</div>
		
		<div class="show_mvt_content">
			<h4><%= @interval.phrase_name %></h4>
			<h4><%= @interval.phrase_type %></h4>
			<h4><%= @interval.task_name %></h4>
		</div>
		
		<div class="show_more_data">
			<h4><%= @interval.start_time.strftime("%F") %></h4> <!--date-->
			<h4>Time: <%= @interval.start_time.strftime("%T") %></h4>
			<h4><%= @interval.duration_string %></h4>
		</div>
		
		<div class="show_codingterms_phen">
			<h2>Phenomena</h2>
			<h3 class="show_add_phen_button">Add</h3>
			<div class="show_applied_phen">
				<p>List of applied phenomena.<p>
<!--INSERT APPLIED PHENOMENA TERMS-->
			</div>
		</div>
		
		<div class="show_add_phen_list">
			<h2>Add Phenomena</h2></br>
			<form>
				<input type="checkbox">Costumes
				<input type="checkbox">Distributed Memory</br>
				<input type="checkbox">Imagery     
				<input type="checkbox">Marking</br>
				<input type="checkbox">Props
				<input type="checkbox">Riffing</br>
				<input type="checkbox">Sketching
				<input type="checkbox">Sonification</br>
				<input type="checkbox">Structuring
				<input type="checkbox">Visualization</br>
			</form>
			<h3 class="show_save_phen_button">Save</h3>
		</div>

		<div class="show_codingterms_people">
			<h2>People</h2>
			<h3 class="show_add_people_button">Add</h3>
			<div class="show_applied_people">
				<p>List of applied people.<p>
<!--INSERT APPLIED PEOPLE TERMS-->
			</div>
		</div>

		<div class="show_add_people_list">
			<h2>Add People</h2></br>
			<form>
				<input type="checkbox">Wayne
				<input type="checkbox">Odette
				<input type="checkbox">Alexander </br>
				<input type="checkbox">Agnes
				<input type="checkbox">Anna
				<input type="checkbox">Antoine</br>
				<input type="checkbox">Catarina
				<input type="checkbox">Daniela
				<input type="checkbox">Davide</br>
				<input type="checkbox">Jessica
				<input type="checkbox">Louise
				<input type="checkbox">Michael</br>
				<input type="checkbox">Paolo
			</form>
			<h3 class="show_save_people_button">Save</h3>
		</div>
		
		<div class="show_tags">
			<h2>Tags</h2>
			<h3 class="show_add_tags_button">Add</h3>
			<div class="show_applied_tags">
				<p>List of applied tags.<p>
<!--INSERT APPLIED TAGS-->
			</div>
		</div>
		
		<div class="show_tags_create">
			<form>
				Tag Name:<input type="text"></br>
				Description:<textarea rows="4" cols="20"></textarea>
			</form>
			<h3 class="show_save_people_button">Create</h3>

		</div>
		
	<div class="clear"></div>
	
	
<!--INSERT SUBINTERVAL WIDGET-->



	<br style="clear:both"/>
	<% end %>


</div>
