<div class="interval_show">

	 <%= simple_form_for @interval do |f| %>
	 


	<div class="grid_5 show_metadata">
		<div>
			<h1>ID #: <%= @interval.session_type %></h1> <!--Session Type-->
			<h2><%= @interval.phrase_name %></h2>
			<h2><%= @interval.phrase_type %></h2>
			<h2><%= @interval.task_name %></h2>
		</div>
	</div>
	
		<div class="grid_3 show_camera_angle">
		<div class="cam_angle">
			<%= image_for_camera_angle @interval.camera_angle %>
		</div>
	</div>
	
	<div class="grid_8">
	</div>
	
	<div class="clear"></div>


	<div class="grid_8 video">
		<div>
			<p><%= video_tag @interval.filename, :controls => true, :height => 270, :width => 480 %></p>
		</div>
	</div>
	
	<div class="grid_4 show_subintervals">
		<p>test text sub</p>
	</div>

	<div class="grid_3 show_tags">
		<p>test text</p>
	</div>
	
	<div class="clear"></div>


	<div class="grid_16 space">
	</div>
	<div class="clear"></div>
	
	<br style="clear:both"/>
	<% end %>

</div>

