<div class="interval_show">

	 <%= simple_form_for @interval do |f| %>
	 

	<div class="grid_5 show_metadata">
		<div>
			<h1>ID #: <%= @interval.session_type %></h1> <!--Session Type-->
			<h2><%= @interval.phrase_name %></h2>
			<h2><%= @interval.phrase_type %></h2>
			<h2><%= @interval.task_name %></h2>
		</div>
	</div>
	
	<div class="grid_3 show_camera_angle">
		<div class="cam_angle">
			<%= image_for_camera_angle @interval.camera_angle %>
		</div>
	</div>
	
	<div class="grid_8">&nbsp</div>
	
	<br style="clear:both"/>
	<% end %>
	
	<div class="clear"></div>


	<div class="grid_8 video">
			  <!-- Begin VideoJS -->
		<div class="vim-css video-js-box">
		    <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
     	<video id="cove-video-player" class="video-js" width="480" height="270" controls>
	 	<source src="http://www.yo-yo.org/mp4/yu.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
    	 </video>
    	
    	<div>
			<p><%= video_tag @interval.filename, :controls => true, :height => 270, :width => 480 %></p>
		</div>
    	
    </div>
          <!-- End VideoJS -->
          
	</div>
	
	<div class="grid_4 video_snippit">
		<%= render 'intervals/snippets' %>
		<%= form_for([@interval, @interval.snippets.build]) do |f| %>
		<%= f.hidden_field(:offset) %>
	    <%= f.hidden_field(:duration) %>
		<% end %>
	</div>

	 <%= form_for([@interval, @interval.snippets.build], :remote => true) do |f| %>


	<div class="grid_3 show_tags"></div>

	<div class="clear"></div>

	
	<div class="grid_8 mark_button">

	 <button class="markstart">Start Mark</button> or <input type="text" id="start_mark"></input>
   	 <button class="markend">End Mark</button> or <input type="text" id="end_mark"></input>
    </div>
    
    <div class="grid_4 snippet_button">
    <%= f.submit "Create Snippet", :class => "create_interval_button" %>
    </div>
    
	<% end %>


 <div class="grid_8 interval_form">
    <fieldset>
    	<legend>Create Snippet</legend>
    	
    	<p>Title:</p><input type="text" id="interval_title"></input><br/>
   		<p>Description:</p><textarea cols=37 rows=3 id="interval_description"></textarea>
	</fieldset>   
	
	<div class="save_cancel_button">
		<button class="cancel">Cancel</button>
        <button class="save">Save</button>
     </div>
    
    <div class="grid_8">&nbsp</div>

	<div class="clear"></div>

</div>
