%div.container_16.interval_show

  %div.grid_11.show_left_side

    %div.grid_6.alpha.show_video_header
      %div.show_angles
        = image_for_camera_angle @interval.camera_angle
      %h1="Far #{@interval.id.to_s()}"
      %h2="Session #{@interval.session_number}: #{@interval.session_type}"
 
    %div.grid_5#collections_container
      = render :partial => "collections"
    
    %div.grid_11#video_container
      = video_tag interval_path(@interval.id, :format => :m4v), :controls => true, :height => 360, :width => 640

    %div.grid_11.omega#snippets_container
      = render :partial => "snippets"


  %div.grid_5#adding_shit_to_videos
    = render :partial => "adding_to_videos"

  %div.clear







