<h1>COVE</h1>

<h2>Phrase: <%= @interval.phrase_name %></h2>
<ul>
	<li>Phrase Type: <%= @interval.phrase_type %></li>
	<li>Phrase Alternative Name: (name)</li>
</ul>

<h2>Session Number: <%= @interval.session_number %></h2>
<ul>
	<li>Session Type: <%= @session_type %></li>
	<li>Task: <%= @interval.task_name %></li>
	<li>Start Time (24 hr): <%= @interval.start_time.strftime("%T") %></li>
	<li>End Time (24 hr): <%= @interval.end_time.strftime("%T") %></li>				
	<li>Duration: <%= (@interval.end_time - @interval.start_time.to_time.to_i).strftime("%T") %></li>
</ul>

<h2>Source</h2>
<ul id="Source">
	<li>File Name: <%= @interval.filename %></li>
	<li>Day Number: </li>
	<li>Date: <%= @interval.start_time.strftime("%F") %></li>
	<li>Camera Angle: <%= @interval.camera_angle %></li>
	<li>Start Time (24 hr): <%= @interval.start_time.strftime("%T") %></li>
</ul>

<div>
	<%= video_tag @interval.filename, :controls => true %>
</div>

<%= link_to 'Edit', edit_interval_path(@interval) %> 
<%= link_to 'Back', intervals_path %>
