<div class="interval_show">

	<div class="grid_1 Edit">
		<%= link_to 'Edit', edit_interval_path(@interval) %> 
	</div>
	<div class="grid_15">
		<%= link_to 'Back', intervals_path %>
	</div>
	<div class="clear"></div>


	<div class="grid_5" id="sessTypePhrase">
		<div>
			<h1><%= @interval.session_type %></h1> <!--Session Type-->
			<strong>Phrase: <%= @interval.phrase_name %></strong> <br/>
			<strong>Type: <%= @interval.phrase_type %></strong>
		</div>
	</div>
	
	<%= simple_form_for @interval do |f| %>
	<div class="grid_6" id="camera_angle_map">
		<div class="cam_angle">
			<%= image_for_camera_angle @interval.camera_angle %>
		</div>
	</div>
	
	<div class="grid_5 more_info">
		<div class="info">
			<h3>Session <%= @interval.session_number %></h3>
			<h3><%= @interval.start_time.strftime("%F") %></h3> <!-- Date-->
			<h4>Length: <%= @interval.duration_string %></h4>
		</div>
	</div>
<br style="clear:both"/>
	<% end %>
	<div class="clear"></div>


	<div class="grid_16 space">
	</div>
	<div class="clear"></div>
	

		<div class="grid_4">&nbsp;</div>
		<div class="grid_5 video">
		  <!-- Begin VideoJS -->
		  <div class="vim-css video-js-box">
		    <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
            <video id="cove-video-player" class="video-js" width="480" height="270" controls>
              <source src="/videos/<%= @interval.filename %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            </video>
          </div>
          <button class="markstart">Mark Start</button>
          <button class="markend">Mark End</button>
          
          <div class="interval_form">
          		<label>
          			Title:
          		</label>
          		<input type="text" id="interval_title"/>
          		</br>	
          		<label>
          			Description:
          		</label>	
          		<input type="text" id="interval_descript"/>
          </div>
          <!-- End VideoJS -->
	    </div>
		<div class="grid_4 video_snippit">
	
			<div class="interval_time_background">
				<div class="interval_time">
					3:14-4:34
				</div>
			</div>
			<input type="button" value="Create Interval" class="create_interval_button"></input>
		</div>
			
	<div class="clear"></div>


	<div class="grid_16 time">
		<div class="time">
			<h4><%= @interval.start_time.strftime("%T") %> ------------------------------------------------------------------------------------------</h4>
		</div>
	</div>
	<div class="clear"></div>
	

	<div class="grid_16 space">
	</div>
	<div class="clear"></div>
	

	<div class="grid_16 filename">
	<h3>File: <%= @interval.filename %></h3> <!--filename-->
	<div class="clear"></div>
	

</div>

