<head>
	<script type="text/javascript" src="javascript.js">
	</script>
</head>

<div class="interval_show">

<!-- row 1 -->

	 <%= simple_form_for @interval do |f| %>
	 <div class="grid_6 show_video_header">
		<h1>FAR #</h1>
		<h2>Session <%= @interval.session_number %> : <%= @interval.session_type %></h2>
	</div>
	
	<div class="grid_5 show_addto_widget">
		<p>Michael's "add to" widget</p>
<!--INSERT APPLIED ADD TO WIDGET-->
	</div>
	
	<div class="grid_5 show_camera_angle">
		<div class="show_angles">
		<%= image_for_camera_angle @interval.camera_angle %>
		</div>
	</div>

	<div class="clear"></div>

<!-- row 2 -->

	<div class="grid_16 space">
		
<ul class="dropdown">
	<li>Add to</li>
	<li><a href="#">+Favorites</a></li>
	<li><a href="#">+Queue</a></li>
	<li><a href="#">Collections</a>
		<ul class="vdrop">
			<li><a class="add" href="#">+New Collection</a></li>
			<li><a href="#">Collection alpha</a></li>
			<li><a href="#">Collection beta</a></li>
			<li><a href="#">Collection gamma</a></li>
			<li><a href="#">Collection omega</a></li>
		</ul>
	</li>
</ul>
		
	<div class="grid_11 show_video_player">
		<p><%= video_tag @interval.filename, :controls => true, :height => 360, :width => 640 %></p>
	</div>
	
	
	<div class="grid_5 show_metadata">
	
		<div class="show_more_info">
			<h2>Video Data</h2>
			<h3 class="show_moreinfo_button">More</h3>
		</div>
		
		<div class="show_mvt_content">
			<h4><%= @interval.phrase_name %></h4>
			<h4><%= @interval.phrase_type %></h4>
			<h4><%= @interval.task_name %></h4>
		</div>
		
		<div class="show_more_data">
			<h4><%= @interval.start_time.strftime("%F") %></h4> <!--date-->
			<h4>Time: <%= @interval.start_time.strftime("%T") %></h4>
			<h4><%= @interval.duration_string %></h4>
		</div>
		
		<div class="show_codingterms_phen">
			<h2>Phenomena (3)</h2>
			<h3 class="show_add_phen_button">Add</h3>
			<div class="show_applied_phen">
				<p>List of applied phenomena.<p>
<!--INSERT APPLIED PHENOMENA TERMS-->
			</div>
		</div>
		
		<div class="show_add_phen_list">
			<h2>Add Phenomena</h2></br>
			<form>
				<input type="checkbox">Costumes
				<input type="checkbox">Distributed Memory</br>
				<input type="checkbox">Imagery     
				<input type="checkbox">Marking</br>
				<input type="checkbox">Props
				<input type="checkbox">Riffing</br>
				<input type="checkbox">Sketching
				<input type="checkbox">Sonification</br>
				<input type="checkbox">Structuring
				<input type="checkbox">Visualization</br>
			</form>
			<h3 class="show_save_phen_button">Save</h3>
		</div>

		<div class="show_codingterms_people">
			<h2>People (2)</h2>
			<h3 class="show_add_people_button">Add</h3>
			<div class="show_applied_people">
				<p>List of applied people.<p>
<!--INSERT APPLIED PEOPLE TERMS-->
			</div>
		</div>

		<div class="show_add_people_list">
			<h2>Add People</h2></br>
			<form>
				<input type="checkbox">Wayne
				<input type="checkbox">Odette
				<input type="checkbox">Alexander </br>
				<input type="checkbox">Agnes
				<input type="checkbox">Anna
				<input type="checkbox">Antoine</br>
				<input type="checkbox">Catarina
				<input type="checkbox">Daniela
				<input type="checkbox">Davide</br>
				<input type="checkbox">Jessica
				<input type="checkbox">Louise
				<input type="checkbox">Michael</br>
				<input type="checkbox">Paolo
			</form>
			<h3 class="show_save_people_button">Save</h3>
		</div>
		
		<div class="show_tags">
			<h2>Tags (10)</h2>
			<h3 class="show_add_tags_button">Add</h3>
			<div class="show_applied_tags">
				<p>List of applied tags.<p>
<!--INSERT APPLIED TAGS-->
			</div>
		</div>
		
		<div class="show_tags_create">
			<form>
				<label>Tag Name:</label>
				<input type="text"></br>
			<!--Notes:<textarea rows="4" cols="20"></textarea>-->
			</form>
			<h3 class="show_save_people_button">Create</h3>

		</div>
		
	<div class="clear"></div>
	
	<div class="grid_16 push_0 subintervals">
<!--INSERT SUBINTERVAL WIDGET-->
	</div>


	<br style="clear:both"/>
	<% end %>


</div>
