<div class="interval_show">

	<div class="grid_1 Edit">
		<%= link_to 'Edit', edit_interval_path(@interval) %> 
	</div>
	<div class="grid_15">
		<%= link_to 'Back', intervals_path %>
	</div>
	<div class="clear"></div>


	<div class="grid_5" id="sessTypePhrase">
		<div>
			<h1 class="define_me session_type"><%= @interval.session_type %></h1> <!--Session Type-->
			<strong>Phrase: <span class="define_me phrase_name"><%= @interval.phrase_name %></span></strong> <br/>
			<strong>Type: <span class="define_me phrase_type"><%= @interval.phrase_type %></span></strong>
		</div>
	</div>
	
	<%= simple_form_for @interval do |f| %>
	<div class="grid_6" id="camera_angle_map">
		<div class="cam_angle">
			<%= image_for_camera_angle @interval.camera_angle %>
		</div>
	</div>
	
	<div class="grid_5 more_info">
		<div class="info">
			<h3>Session <%= @interval.session_number %></h3>
			<h3><%= @interval.start_time.strftime("%F") %></h3> <!-- Date-->
			<h4>Length: <%= @interval.duration_string %></h4>
		</div>
	</div>
<br style="clear:both"/>
	<% end %>
	<div class="clear"></div>


	<div class="grid_16 space">
		
<ul class="dropdown">
	<li>Add to</li>
	<li><a href="#">+Favorites</a></li>
	<li><a href="#">+Queue</a></li>
	<li><a href="#">Collections</a>
		<ul class="vdrop">
			<li><a class="add" href="#">+New Collection</a></li>
			<li><a href="#">Collection alpha</a></li>
			<li><a href="#">Collection beta</a></li>
			<li><a href="#">Collection gamma</a></li>
			<li><a href="#">Collection omega</a></li>
		</ul>
	</li>
</ul>
		
	</div>
	<div class="clear"></div>
	

	<div class="grid_16" id="video">
		<div>
			<p><%= video_tag @interval.filename, :controls => true, :height => 270, :width => 480 %></p>
		</div>
	</div>
	<div class="clear"></div>


	<div class="grid_16 time">
		<div class="time">
			<h4><%= @interval.start_time.strftime("%T") %> ------------------------------------------------------------------------------------------</h4>
		</div>
	</div>
	<div class="clear"></div>
	

	<div class="grid_16 space">
	</div>
	<div class="clear"></div>
	

	<div class="grid_16 filename">
	<h3>File: <%= @interval.filename %></h3> <!--filename-->
	<div class="clear"></div>
	

</div>
<%#<div id="tag_list"> %>
  <%#<h5> These are all the existing tags </h5>%>
  <%#<ul>%>
  <%# @tags.each do |taging| %>
    <%#<li>%>
    <%# link_to taging.tag.name, {:controller => "annotations", :action => "create", :interval_id => @interval.id, :type => "tag", :name => taging.tag.name}, :method => "post"%>
    <%#</li>%>
<%# end %>
  <%#</ul>%>
<%#</div>%>

<%#<div id="phenomenon_list"> %>
  <%#<h5> These are the Phenomenon </h5>%>
  <%#<ul>%>
  <%#<%- @phenomenon.each do |phenom| %>%>
    <%#<li> %>
    <%#<%= link_to phenom.phenomenon.name, {:controller => "annotations", :action => "create", :type => "phenomenon", :name => phenom.phenomenon.name}, :method => "post" %>%>
    <%#</li>%>
  <%#<%- end %> %>
  <%#</ul>%>
<%#</div>%>
<br />
<div id="add_tag_form_container">
  <h5> Create a new Tag</h5>
  <%= form_tag({:action => "create",:controller => "annotations", :interval_id => @interval.id}, :method => "post") do %>
    <%= text_field_tag :name %>
    <%= hidden_field_tag "type", :value  => "tag" %>
    <%= submit_tag "Create Tag" %>
  <%- end %>
</div>

</div>
