<head>
	<script type="text/javascript">
		$(document).ready(function(){  //
			$(".show_tags_add_button").click(function(){  //"what you click"
				$(".show_tags_add").slideToggle("slow"); //"what you want to show after the click"
				$(".show_tags_selected").remove(); //"replace this"
			});
		});

		$(document).ready(function(){
			$(".tags_go_new_button").click(function(){
				$(".tags_add_new").slideToggle("slow");
				$(".show_tags_add").remove();
			});
		});
		
		$(document).ready(function(){  //show more info
			$(".show_moreinfo_button").click(function(){
				$(".show_more_data").slideToggle("slow");
			});
		});
	
	
	</script>
</head>



<div class="interval_show">

<!-- row 1 -->

	 <%= simple_form_for @interval do |f| %>
	 <div class="grid_6 show_video_header">
		<h1>FAR #?</h1>
		<h2>Session <%= @interval.session_number %> : <%= @interval.session_type %></h2>
	</div>
	
	<div class="grid_5 show_addto_widget">
		<p>Michael's "add to" widget</p>
	</div>
	
	<div class="grid_5 show_camera_angle">
		<%= image_for_camera_angle @interval.camera_angle %>
	</div>

	<div class="clear"></div>

<!-- row 2 -->

	<div class="grid_11 show_video_player">
		<p><%= video_tag @interval.filename, :controls => true, :height => 360, :width => 640 %></p>
	</div>
	
	
	<div class="grid_5 show_metadata">
	
		<div class="show_more_info">
			<h2>Video Data</h2>
			<h3 class="show_moreinfo_button">+</h3>
		</div>
		
		<div class="show_mvt_content">
			<h4><%= @interval.phrase_name %></h4>
			<h4><%= @interval.phrase_type %></h4>
			<h4><%= @interval.task_name %></h4>
		</div>
		
		<div class="show_more_data">
			<h4><%= @interval.start_time.strftime("%F") %></h4> <!--date-->
			<h4>Time: <%= @interval.start_time.strftime("%T") %></h4>
			<h4><%= @interval.duration_string %></h4>
		</div>
		
		<div class="show_codingterms_phen">
			<h2>Phenomena</h2>
			<h3 class="show_add_phen_button">Add</h3>
			<div class="show_applied_phen">
				<p>List of applied phenomena.<p>
<!--INSERT APPLIED PHENOMENA TERMS-->
			</div>
		</div>
		
		<div class="show_add_phen_list">
			<h2>Add Phenomena</h2></br>
			<form>
				<input type="checkbox">Costumes
				<input type="checkbox">Distributed Memory</br>
				<input type="checkbox">Imagery     
				<input type="checkbox">Marking</br>
				<input type="checkbox">Props
				<input type="checkbox">Riffing</br>
				<input type="checkbox">Sketching
				<input type="checkbox">Sonification</br>
				<input type="checkbox">Structuring
				<input type="checkbox">Visualization</br>
			</form>
		</div>

		<div class="show_codingterms_people">
			<h2>People</h2>
			<h3 class="show_add_people_button">Add</h3>
			<div class="show_applied_people">
				<p>List of applied people.<p>
<!--INSERT APPLIED PEOPLE TERMS-->
			</div>
		</div>

		<div class="show_add_people_list">
			<h2>Add People</h2></br>
			<form>
				<input type="checkbox">Wayne
				<input type="checkbox">Odette
				<input type="checkbox">Alexander </br>
				<input type="checkbox">Agnes
				<input type="checkbox">Anna
				<input type="checkbox">Antoine</br>
				<input type="checkbox">Catarina
				<input type="checkbox">Daniela
				<input type="checkbox">Davide</br>
				<input type="checkbox">Jessica
				<input type="checkbox">Louise
				<input type="checkbox">Michael</br>
				<input type="checkbox">Paolo
			</form>
		</div>
	
	<div class="clear"></div>
	
	


	<div class="grid_5 show_subintervals">
<!--insert Winny's subinterval html-->
		<p>This is where the subinterval snippets will be.</p>
	</div>

	<div class="show_tags"><!-- float:right, width:198px, margin-right:10px in css -->
		
		<div class="show_tags_header">
			<h1>Tags:</h1>
			<h2 class="show_tags_add_button">Add</h2>
		</div>
		
		<div class="show_tags_selected">
<!-- this shows the tags currently applied to the interval SHOULD BE CHECKED-->
			<input type="checkbox" class="tag_phenomena"> Selected Tags </input> 	</br>
			<input type="checkbox"> Selected Tags </br>
			<em><input type="checkbox"> Pending Tag </br></em>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<em><input type="checkbox"> Pending Tag </br></em>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>
			<input type="checkbox"> Selected Tags </br>

		</div>
		
		<div class="show_tags_add">
<!-- here user adds tags to the interval-->
			<p>Phenomena:</p>

			
			<p>People:</p>
			<form>
				<select class="tags_menu">
					<option selected="selected"></option>
					<option>Wayne</option>
					<option>Odette</option>
					<option>Alexander</option>
					<option>Agnes</option>
					<option>Anna</option>
					<option>Antoine</option>
					<option>Catarina</option>
					<option>Daniela</option>
					<option>Davide</option>
					<option>Jessica</option>
					<option>Louise</option>
					<option>Michael</option>
					<option>Paolo</option>
				</select>
			</form>
			
			<p>Misc:</p>
			<form>
				<select class="tags_menu">
					<option selected="selected"></option>
					<option>list of misc.</option>
				</select>
			</form>
			
			
			<h2 class="tags_add_button">Submit</h2> </br>
			
			<h3>OR</h3>
			
			<h2 class="tags_go_new_button">Add New Tag</h2>

									
		</div>
		
			
		<div class="tags_add_new">
		
			<p>Category:</p>
			<form>
				<select class="tags_menu">
					<option selected="selected"></option>
					<option>Phenomena</option>
					<option>People</option>
					<option>Miscellaneous</option>
				</select>
			</form>
			
			<p>New Tag:</p>
			<input type="text" />
			
			<p>Description:</p>
			<textarea rows="4" cols="20"></textarea>
		
			<h2 class="tags_add_new_button">Submit</h2>
		</div>
		
	</div>

	<div class="clear"></div>

	<br style="clear:both"/>
	<% end %>


</div>
