%h3.grid_5#title
  Place Holder Title 
%div.grid_16.meta_info_container
  This is going to be the meta data

%div.grid_16#video_container
  = video_tag interval_path(@interval.id, :format => :m4v), :controls => true, :height => 400, :width => 950

%div.grid_16#tag_container.interaction_container
  %h4
    ="Tags(#{@applied_tags.length})"
  %ul
    -if !@applied_tags.blank?
      -for tagging in @applied_tags
        %li.tag.applied
          =tagging.tag.name
    -else
      An Error with tagging occured

.grid_16#phenomenon_container.interaction_container
  %h4
    ="Phenomenon(#{@applied_phenomenon.length})"
  = display_coding_term(@applied_phenomenon, @unapplied_phenomenon)

.grid_16#people_container.interaction_container
  %h4
    ="People(#{@applied_people.length})"
  = display_coding_term(@applied_people, @unapplied_people)
    
