<%= form_for :user, :url => {:controller => "invitations",:action => "update" }  , :html => {:method => "put"} do |f| -%>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
  <p></p>
  <%= f.label :password_confirmation, "Password Confirmation" %>
  <%= f.password_field :password_confirmation %>
  <p></p>
  <%= f.submit "Change Password" %>
<% end -%>