<div class="infiniteCarousel">
  <div class="wrapper">
    <ul>
		<% if !@queue.blank? %>
			<% YAML.load(@queue.interval_priorities).keys.sort!{|a,b| a.to_i <=> b.to_i}.each do |priority| %><% interval = Interval.find(YAML.load(@queue.interval_priorities)[priority.to_s]) %>
			<li class="grid_3">
				<img src="http://dummyimage.com/150x100">
				<%= link_to "FAR#{interval.id.to_s}", interval %><br/>
				Session <%= interval.session_number %><br />
				Camera: <%= interval.camera_angle.humanize %><br />
				Session Type: <%= interval.session_type.humanize %><br />
				Date: <%= interval.start_time.strftime('%m/%d/%Y %H:%M') %><br />
				Duration: <%= interval.duration_string %><br />
				<%= link_to "See More", interval %>
			</li>
			<% end %>
		<% else %>
			<li class='grid_15'>There are no videos in the<br /> queue for this project yet.</li>
		<% end %>
    </ul>        
  </div>
</div>

<style>
.infiniteCarousel {
  width: 959px;
  position: relative;
}

.infiniteCarousel .wrapper {
  width: 800px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 250px;
  margin: 0 40px;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul a img {
  border: 5px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 10px;
  height: 250px;
  width: 175px;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 36px;
  width: 37px;
  /*background: url(/images/arrow.png) no-repeat 0 0;*/
  text-indent: -999px;
  position: absolute;
  top: 37px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -72px;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -108px;
}

</style>