<h1>Project Form</h1>

<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  
 <%= f.input :name %>
 <%= f.input :desc, :as => :text, :label => "Elevator Pitch" %>
 <%= f.input :notes %>
 <%= f.button :submit %>

<%= f.hidden_field :user_id %>

<% end %>