
<style>

label {
   font-size: 1.5em;
   font-weight: bold;
   padding: 10px 0px 5px 0px;
   margin: 0px;
   text-align: left;
   color: #00fa9a;
}

input, textarea, ul {
   margin: 5px 0px 20px 0px;
}

li.inline {
   display: inline;
   list-style-type: none;
   margin: 5px 10px 5px 0px;
}

</style>

<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

<div class="clear"></div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <%= f.label :name %>
</div>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <%= f.text_field(:name, :size=> 40) %>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <%= f.label :user_id %>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <p><%= current_user.email %></p>
    <input type="hidden" name="project[user_id]" value="<%= current_user.id %>">
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <%= f.label :desc %>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <%= f.text_area(:desc, :cols => 40, :rows => 5) %>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <%= f.label :tags %>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
   <ul>
     <% tags = ['sit','dance','jump', 'sing', 'rest'] %>
 
     <%   tags.each do | y | %>
         <% found = '' %>
        <% if @project.tags.include?(y) %>
           <% found = 'checked' %>
        <% end %>
          <li class="inline">
             <input type="checkbox" name="project[tags][]" value="<%= y %>" <%= found %>/>
             <%= y.capitalize %>
          </li>
     <%   end  %>
   </ul>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <%= f.label :notes %>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <%= f.text_area(:notes, :cols => 40, :rows => 5) %>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>

<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="grid_10">
    <%= f.button :submit %>
</div>
<div class="grid_3">
   <p>
      &nbsp;
   </p>
</div>
<div class="clear"></div>
<% end %>

