<div class="container_16 project_container" id="<%= @project.id %>" >
<% if user_signed_in? %>
   <% if @project %>
      <% if @project.user_id == current_user.id %>
	<div class="grid_15">
		<p>
                   &nbsp;
		</p>
	</div>
	<!-- end .grid_16 -->
	<div class="grid_1">
		<p>
                   <%= link_to 'Back', projects_path %>
		</p>
	</div>
	<!-- end .grid_1 -->
	<div class="clear"></div>
	<div class="grid_16">
		<h3>
		   Project <span>(<%= link_to 'Edit', edit_project_path(@project) %>):</span>	
		</h3>
	</div>
	<!-- end .grid_16 -->
	<div class="clear"></div>
	<div class="grid_16">
		<h2>
		   <%= @project.name %> 
		</h2>
	</div>
	<!-- end .grid_16 -->
	<div class="clear"></div>
	<div class="grid_10">
		<h3>
		   Notes	
		</h3>
	</div>
	<!-- end .grid_10 -->
	<div class="grid_6">
		<h3>
		   Elevator Pitch <span>(<%= link_to 'Edit', edit_project_path(@project) %>):</span>	
		</h3>
	</div>
	<div class="clear"></div>
	<div class="grid_10">
		<!-->Notes Block<-->
		<div class="note_form">
			<%= simple_form_for [@project,Note.new] do |form| %>
				<%= form.input :note %>
				<%= form.button :submit %>
			<% end %>
		</div>
		<div class="grid_9 prefix_1">
			<ul class="note_list" style="list-style-type: none; background-color: #555; padding-top: 2px; padding-bottom: 2px;">
				<%= render @project.notes.order('created_at DESC') if !@project.notes.blank? %>
			</ul>
		</div>
	</div>
	<!-- end .grid_10 -->
	<div class="grid_6">
		<p>
		   <%= @project.desc %> 
		</p>
	</div>
	<!-- end .grid_6 -->
	<div class="clear"></div>
	<div class="grid_16" style="text-align:center;">
		<h3>
		   <span>Video Queues</span>	
		</h3>
	</div>
	<!-- end .grid_16 -->
	<div class="clear"></div>
</div>
<div class="container_16" id="vid-cont">
	<%= render :partial => 'collections' rescue "Missing Collection Partial" %>
</div>
<div container="container_16">
	<!-- end .grid_16 -->
	<div class="clear"></div>
	<div class="grid_16">
		<h3>
		   Tags <span>(<%= link_to 'Edit', edit_project_path(@project) %>):</span>	
		</h3>
	</div>
	<!-- end .grid_16 -->
	<div class="clear"></div>
	<% if !@project.tags.blank? %>
	<div class="grid_16">
		<p>
                     <ul>
                          <% @project.tags.each do |t| %>
                             <li class="inline"><%= t.capitalize %></li>
                          <% end %>
                     </ul>
		</p>
	</div>
	<% end %>
	<!-- end .grid_16 -->
	<div class="clear"></div>
	<div class="grid_16">
		<h3>
		   Owner <span>(<%= link_to 'Edit', edit_project_path(@project) %>):</span>	
		</h3>
                   <p><%= current_user.email %></p>
	</div>
	<!-- end .grid_16 -->
	<div class="clear"></div>
	<div class="grid_15">
		<p>
                   &nbsp;
		</p>
	</div>
	<div class="grid_1">
		<p>
                   <%= link_to 'Destroy', @project , :confirm => 'Are you sure?', :method => :delete  %>
		</p>
	</div>
	<div class="clear"></div>
      <% else %>

	<div class="grid_16">
		<p>
		    Sorry, but this project is private. 
		</p>
	</div>
	<!-- end .grid_16 -->
	<div class="clear"></div>

      <% end %>
   <% end %>
<% else %>

   <div class="grid_16">
      <p>
         Please log in to access projects.
      </p>
   </div>

<% end %>
</div>
<script>
jQuery(document).ready(function() {
	$('.jsDisabled_note_controls').remove();
	$('.note_slide').hide();
	$('.note_header').show();
	$('.note_spacer').show();
});
</script>