<!DOCTYPE html>
<html>
<head>
  <title>Cove</title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= stylesheet_link_tag 'reset.css' %>
  <%= stylesheet_link_tag 'text.css' %>
  <%= stylesheet_link_tag '960.css' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="content container_12">
  <%= display_flash %>
  <%= yield %>
</div>
</body>
</html>
