<!DOCTYPE html>
<html>
<head>
  <title>Cove</title>
  <% if ENV['RAILS_ENV'] == 'production' %>
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'jquery-ui.min.js' %>
  <% else %>
      <%= javascript_include_tag "jquery.js" %>
      <%= javascript_include_tag "jquery-ui.js" %>
  <% end %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag "rails.js" %>
  <%= stylesheet_link_tag 'reset.css' %>
  <%= stylesheet_link_tag 'text.css' %>
  <%= stylesheet_link_tag '960.css' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="content container_12">
  <%= display_flash %>
  <%= yield %>
</div>
</body>
</html>
